/*-----------COLORS-------------------------------------------------*/
:root {
    --primary-bg-color: white;
    --secondary-bg-color: black;
    --text-color: black;
    --hint-color: grey;
}
/*//-------SIZES---------------------------------------------------*/
/*$main-blocks-width: 94%;*/
/*$bigger-top-margin: 2.3%;*/
/*$main-gap: 1.5%;*/
/*$wrapper-padding: 3%;*/
/*$product-page-padding: 10px;*/
/*$wrapper-bottom-padding: 40px;*/
/*$wrapper-z-index: 0;*/
/*$middle-z-index: 1;*/
/*$high-z-index: 2;*/
/*$wrapper-margin: 1.5%;*/
/*$bottom-margin-friends: 4%;*/
/*$border-radius: 25px;*/
/*$border-radius-smaller: 20px;*/
/*$thin-border: 0.01px solid;*/

/*--------FONTS----------------------------------------------------*/
:root {
    --main-text: 400 16px/1.4 'Roboto', sans-serif;
    --main-text-bold: 700 16px/1.4 'Roboto', sans-serif;
    --main-text-bigger-bold: 900 18px/1 'Roboto', sans-serif;
    --heading-text: 900 30px/1 'Roboto', sans-serif;
    --super-heading-text: 900 50px/1.2 'Roboto', sans-serif;
    --subheading-text: 900 20px/1.4 'Roboto', sans-serif;
    --subheading-text-bigger: 900 22px/1.4 'Roboto', sans-serif;
    --subscript-text: 400 12px/1.2 'Roboto', sans-serif;
}
/*$super-heading-text: 900 30px/1 'Mulish', sans-serif;*/
/*$heading-text: 900 26px/1 'Mulish', sans-serif;*/
/*$subheading-text: 900 20px/1 'Mulish', sans-serif;*/
/*$subheading-text-slime: 400 20px/1 'Mulish', sans-serif;*/
/*$main-text-bigger: 400 18px/1.2 'Mulish', sans-serif;*/
/*$main-text: 400 16px/1.2 'Mulish', sans-serif;*/
/*$main-bold-text: 600 16px/1 'Mulish', sans-serif;*/
/*$subscript-text: 400 12px/1 'Mulish', sans-serif;*/
/*$subscript-bigger-bold-text: 600 14px/1 'Mulish', sans-serif;*/
/*$super-small-text: 400 10px 'Mulish', sans-serif;*/
